<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{STATIC_URL}}bootstrap.min.css">
        <!--link rel="stylesheet" href="css/main.css"-->

    </head>
    <body>
 

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Python для начинающих</h1>
        <p>Наш проект нацелен на начинающих программистов чей выбор пал на язык программирования Python. Мы создали мощную онлайн платформу
	для интерактивного обучения. Прямо сейчас вы можите пройти основной курс в Язык программирования Python. </p>
        <p><a class="btn btn-primary btn-lg">Пройти тур &raquo;</a></p>
	
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>PythonTour</h2>
          <p>Это уникальный курс введения в язык программирования Python, который позволяет быстро и легко понять концепцию языка, а также 
	 изучать и выполнять код не покидая браузера.</p>
          <p><a class="btn btn-default" href="#">Пройти &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>PyLaby</h2>
          <p>Аналог игры Laby реализованный в онлайн для обучения программированию на языке Python с помощью программирования муровья-робота.
	 Играй и обучайся!</p>
          <p><a class="btn btn-default" href="#">В планах... &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Community</h2>
          <p>Если вы хотите что-то спросить или измененить в проекте, Вы можете написать в группу нашего сообщества в Google Plus. 
	Мы всегда будем рады помочь! </p>
          <p><a class="btn btn-default" href="#">Перейти &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; ignusius@gmail.com 2014</p>
      </footer>
    </div> <!-- /container -->      
        
    </body>
</html>
