<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lesson.css" media="screen" >
<link rel="shortcut icon" href="{{STATIC_URL}}image/favicon.ico" type="image/x-icon">
<title>Тур в язык Python</title>
</head>
<body>
<div id="left">
<a href="/"><img  id="home" src='{{STATIC_URL}}image/home.png'></a>
</div>



<div id="right">
    <div id="list">
    <ol class="rounded-list"> 
    {%for lesson in lessons%}
    <li><a href="{{lesson.slug}}">{{lesson.title}}</a></li>
    {%endfor%}
    </ol>
</div>
</div>
</body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24706558 = new Ya.Metrika({id:24706558,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24706558" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
