<!doctype html>
<html>
<head>
  <TITLE>Тур в язык Python</TITLE>
  <meta charset="UTF-8"/>
  <meta name="author" content="Snarkturne"/>
  <link href="{{STATIC_URL}}sc.css" rel="stylesheet" type="text/css">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{{STATIC_URL}}src/brython.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}ace/ace.js" charset="utf-8"></script>
  <script type="text/python" src="{{STATIC_URL}}sc.py"></script>
  <script type="text/javascript" src="{{STATIC_URL}}sc.js"></script>
  <link rel="shortcut icon" href="{{STATIC_URL}}image/favicon.ico" type="image/x-icon">
  <title>Editor</title>
</head>
<body onload='brython();sc_save_env()'>
<div id="left"><div id="sc_editor">{{lessons.code}}</div>
<button id="run" onClick="sc_clear();sc_run()">Выполнить</button>
<div id="sc_console"></div>
</div>
<div id=right>
<a href="../"><img  id="titles" src='{{STATIC_URL}}image/titles.png'></a>
     <center><h1>{{lessons.title}}</h1></center>
    {{lessons.text|safe}}
</div>
<div id="logodiv">  <!--img   src='{{STATIC_URL}}image/logo.png'-->
<a href="../{{lessons.get_previous_by_datetime.slug}}"><img   src='{{STATIC_URL}}image/left.png'><a>
<a href="../{{lessons.get_next_by_datetime.slug}}"><img   src='{{STATIC_URL}}image/right.png'><a>
</div>
</body>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24706558 = new Ya.Metrika({id:24706558,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24706558" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</html>
