* {
	padding: 0;
	margin: 0;
	border: none;
	border-spacing: 0;

}
html,
body {
	width: 100%;
	height: 100%;
}
#left {
	float: left;
	width: 50%;
	height:96%;
	overflow: none;
	background: rgb(224, 235, 245);
	border:1%;
    	padding:1%;

}
#right {
	height:100%;
	margin-left: 50%;
	overflow: auto;
	position: relative;


}
#logodiv{
    position: absolute; right: 1%; bottom: 1%;

}


p{
   padding: 10px;
    font-family: Helvetica,Arial;
    font-size: 16px;
    line-height: 1.6em;
    color: rgb(34, 34, 34);
    display:inline !important;
    word-wrap: break-word;
}

h1 {
    color: rgb(55, 94, 171);
    font-size: 1.8em;
    line-height: 1.2em;
}



 #list{
padding-left: 15%;
padding-top: 2%;
 }
/*---------*/
ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rounded-list a{
	width: 80%;
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #EEE;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
}

.rounded-list a:hover{
	background: #eee;
}


.rounded-list a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #E0EBF5;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}
/*---------*/
#titles{
/*position: relative;*/
left:  10px;
float: left;
}


#home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
}
