* {
	padding: 0;
	margin: 0;
	border: 0;
	border-spacing: 0;

}
html,
body {
	width: 100%;
	height: 100%;
	position:absolute;
}

#sc_editor {  /* editeur ace */

	height:65%;
        padding: 0;
	position:relative;
	font-size:14pt;
	color:rgb(224, 235, 245);

    }


    #sc_console{

      padding: 0;
      height:30%;
      background-color:#eee;
      overflow : auto;
      font-family: "Courier New", monospace;
      font-size:12pt;
      white-space: pre;
      position:relative;
    }


#left {
	float: left;
	width: 50%;
	height:96%;
	border:1%;
	overflow: none;
	background: rgb(224, 235, 245);
	padding: 1%;


}
#right {
	height:86%;
	margin-left: 50%;
	overflow: auto;
    border:1%;
    #padding: 2%;

}

#logodiv{
    position: absolute; right: 1%; bottom: 1%;

}

#run,#repair {
 #background: #2E8CE3;
 #padding: 7px 30px;
 width: 100%;
 font-size: 16px;
 font-weight: bold;
 text-align: center;
 border: solid 1px #73C8F0;
 cursor: pointer;

   }

p{
    margin:2%;
    text-indent:20px;
    padding: 0px;
    font-family: Helvetica,Arial;
    font-size: 16px;
    line-height: 1.6em;
    color: rgb(34, 34, 34);
    #display:inline !important;
    word-wrap: break-word;
}

#titles{
position: relative;
left:  20px;
float: left;
}

h1 {
      padding: 5%;
    color: rgb(55, 94, 171);
    font-size: 1.8em;
    line-height: 1.2em;
}

pre {
    margin:2%;
    background: none repeat scroll 0 0 #E9E9E9;
    border-radius: 5px;
    overflow: auto;
    padding: 10px;
    font-family: Menlo,monospace;
    font-size: 14px;
}
